ipython
pandas==1.0.1
numpy==1.16.4
matplotlib==3.1.1
vdom==0.6
jupyter_contrib_nbextensions==0.5.1
xvfbwrapper==0.2.9
logzero==1.7.0
certifi==2020.6.20
scipy==1.5.2
wincertstore==0.2
jupyterlab_launcher>=0.5.0